.divForm{
    padding: 0 1rem 1rem 1rem;
    max-width: 1200px;
    margin: auto;
    min-height: 90vh;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1E;
    padding: 1rem;
    border-radius: 1rem;
}

.titleForm{
    margin: 2rem;
}

@media (max-width: 600px) {
    .form{
        padding: 0.5rem;
    }
    .divForm{
        padding: 1rem;
    }
    .divButton{
        margin-bottom: 1rem;
    }
}