.divForm{
    padding: 0 5rem 5rem 5rem;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: #1B1B1E;
    padding: 3rem;
    border-radius: 1rem;
    align-items: center;
}

.titleForm{
    margin: 2rem;
}

@media (max-width: 600px) {
    .form{
        padding: 0.5rem;
    }
    .divForm{
        padding: 1rem;
    }
    .divButton{
        margin-bottom: 1rem;
    }
}