.flexRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.parraf{
    margin: 1rem;
    color: white;
    font-weight: bolder;
}

.linkCart{
    text-decoration: none;
}