.ticket{
    color: white;
}

.titleFinCompra{
    margin: 5rem;
    font-family: "Bebas Neue", cursive;
    font-size: 5rem;
}

.buyFinish{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    max-width: 1200px;
    height: 90vh;
    margin: auto;
}

@media (max-width: 732px){
    .titleFinCompra{
        margin: 1rem;
    }
}

@media (max-width: 500px) {
    .titleFinCompra{
        font-size: 3rem;
    }
}