.ticket{
    color: white;
}

.titleFinCompra{
    margin: 5rem;
    font-family: "Bebas Neue", cursive;
    font-size: 5rem;
}

.buyFinish{
    margin-bottom: 5rem;
    padding: 3rem;
}

@media (max-width: 500px) {
    .titleFinCompra{
        font-size: 3rem;
    }
}